*~
*.mo
*.pyc
/.django_secret
**/__pycache__
**/node_modules
*.sqlite3
/local_settings.py
static/**
tmp/**
*.bz2
*.xlsx
.env*
venv/**
Attic/**
media/**
*.sublime-project
*.sublime-workspace
data/**
.vscode/**
.idea/**
.direnv/**
.venv/**
.git
/docker-compose.override.yml
/kausal_watch_extensions
